.saved {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 75px;
}

.saved h3{
    font-family: 'Balsamiq Sans', cursive;

}

.saved .saved-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.saved .saved-list .saved-blog-text{
    width: 320px;
    margin-top: 20px;
    margin-left: 10px;
    height: 410px;
}

.notfound{
    text-align: center;
    background-color: tomato;
    padding: 12px;
    color: white;
    border-radius: 6px;
}